<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sensorweb.datacenterproductservice.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="Product" >
    <id column="id" property="id"/>
    <result column="product_id" property="productId"/>
    <result column="product_name" property="productName"/>
    <result column="product_des" property="productDescription"/>
    <result column="product_keyword" property="productKeyword"/>
    <result column="manufacture_date" property="manufactureDate"/>
    <result column="organization_name" property="organizationName"/>
    <result column="service_name" property="serviceName"/>
    <result column="download_address" property="downloadAddress"/>
    <result column="product_type" property="productType"/>
    <result column="service_target" property="serviceTarget"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, product_id, product_name, product_des, product_keyword, manufacture_date,
    organization_name, service_name, download_address, product_type, service_target
  </sql>
  <select id="selectByServiceAndTime" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where service_name = #{serviceName} AND manufacture_date = #{manufactureDate}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from product
    where product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="Product" >
    insert into product (product_id, product_name, product_des,
      product_keyword, manufacture_date, organization_name, 
      service_name, download_address, product_type,
      service_target)
    values (#{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productDescription,jdbcType=VARCHAR}, 
      #{productKeyword,jdbcType=VARCHAR}, #{manufactureDate,jdbcType=VARCHAR}, #{organizationName,jdbcType=VARCHAR}, 
      #{serviceName,jdbcType=VARCHAR}, #{downloadAddress,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR},
      #{serviceTarget,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productDescription != null" >
        product_des,
      </if>
      <if test="productKeyword != null" >
        product_keyword,
      </if>
      <if test="manufactureDate != null" >
        manufacture_date,
      </if>
      <if test="organizationName != null" >
        organization_name,
      </if>
      <if test="serviceName != null" >
        service_name,
      </if>
      <if test="downloadAddress != null" >
        download_address,
      </if>
      <if test="productType != null" >
        product_type,
      </if>
      <if test="serviceTarget != null" >
        service_target,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productDescription != null" >
        #{productDescription,jdbcType=VARCHAR},
      </if>
      <if test="productKeyword != null" >
        #{productKeyword,jdbcType=VARCHAR},
      </if>
      <if test="manufactureDate != null" >
        #{manufactureDate,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null" >
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="downloadAddress != null" >
        #{downloadAddress,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="serviceTarget != null" >
        #{serviceTarget,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Product" >
    update product
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productDescription != null" >
        product_des = #{productDescription,jdbcType=VARCHAR},
      </if>
      <if test="productKeyword != null" >
        product_keyword = #{productKeyword,jdbcType=VARCHAR},
      </if>
      <if test="manufactureDate != null" >
        manufacture_date = #{manufactureDate,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null" >
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null" >
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="downloadAddress != null" >
        download_address = #{downloadAddress,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="serviceTarget != null" >
        service_target = #{serviceTarget,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="Product" >
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_des = #{productDescription,jdbcType=VARCHAR},
      product_keyword = #{productKeyword,jdbcType=VARCHAR},
      manufacture_date = #{manufactureDate,jdbcType=VARCHAR},
      organization_name = #{organizationName,jdbcType=VARCHAR},
      service_name = #{serviceName,jdbcType=VARCHAR},
      download_address = #{downloadAddress,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=VARCHAR},
      service_target = #{serviceTarget,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
</mapper>