<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.sosobsservice.dao.FoiMapper">
    <sql id="insertFields">
        feature_of_interest_id, feature_of_interest_name, feature_of_interest_description, geom, procedure_id
    </sql>

    <sql id="selectFields">
        feature_of_interest_id, feature_of_interest_name, feature_of_interest_description, geom, procedure_id
    </sql>

    <insert id="insertData" parameterType="FeatureOfInterest">
        INSERT INTO feature_of_interest (<include refid="insertFields"></include>)
        VALUES (#{id}, #{name}, #{description}, ST_GeomFromText(#{geom}, 4326), #{procedureId})
    </insert>

    <delete id="deleteById">
        DELETE FROM feature_of_interest
        WHERE feature_of_interest_id = #{id}
    </delete>

    <delete id="deleteByProcedureId">
        DELETE FROM feature_of_interest
        WHERE procedure_id = #{procedureId}
    </delete>

    <select id="selectById" parameterType="int" resultMap="foi">
        SELECT <include refid="selectFields"></include>
        FROM feature_of_interest
        WHERE feature_of_interest_id = #{id}
    </select>

    <select id="selectByIdAndGeom" resultMap="foi">
        SELECT ST_Contains(ST_GeomFromText(#{polygon}, 4326), geom)
        FROM feature_of_interest
        WHERE feature_of_interest_id = #{id}
    </select>

    <select id="isExist" resultType="java.lang.Boolean">
        SELECT count(feature_of_interest_id)
        FROM feature_of_interest
        WHERE feature_of_interest_id = #{id}
    </select>

    <resultMap id="foi" type="FeatureOfInterest">
        <id property="id" column="feature_of_interest_id"/>
        <result property="name" column="feature_of_interest_name"/>
        <result property="description" column="feature_of_interest_description"/>
    </resultMap>

</mapper>