<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.sosobsservice.dao.ObservationMapper">
    <sql id="insertFields">
        proc_id, obs_name, obs_des, obs_time, begin_time, end_time, bbox, geom, obs_property, obs_type, mapping, out_id
    </sql>

    <sql id="selectFields">
        id, proc_id, obs_name, obs_des, obs_time, begin_time, end_time, bbox, obs_property, obs_type, mapping, out_id
    </sql>

    <insert id="insertData" parameterType="Observation">
        INSERT INTO observation (<include refid="insertFields"></include>)
        VALUES (#{procedureId}, #{name}, #{description}, #{obsTime}, #{beginTime}, #{endTime}, #{bbox}, ST_GeomFromText(#{wkt}, 4326), #{obsProperty}, #{type}, #{mapping}, #{outId})
    </insert>

    <insert id="insertDataBatch" parameterType="java.util.List">
        INSERT INTO observation (<include refid="insertFields"></include>)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.procedureId}, #{item.name}, #{item.description}, #{item.obsTime}, #{item.beginTime}, #{item.endTime}, #{item.bbox}, ST_GeomFromText(#{item.wkt}, 4326), #{item.obsProperty}, #{item.type}, #{item.mapping}, #{item.outId})
        </foreach>
    </insert>

    <delete id="deleteByProcedureId">
        DELETE FROM observation
        WHERE proc_id = #{procedureId}
    </delete>

    <select id="selectNum" resultType="java.lang.Integer">
        SELECT count(*)
        FROM observation
    </select>

    <select id="selectByPage" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
    </select>

    <select id="selectByProcedureId" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE proc_id = #{procedureId}
    </select>

    <select id="selectByObsType" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE obs_type = #{type}
    </select>

    <select id="selectByObsProp" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE obs_property = #{obsProperty}
    </select>

    <select id="selectByObsTime" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE obs_time <![CDATA[<=]]> #{obsTime}
    </select>

    <select id="selectByTemporal" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE begin_time <![CDATA[>=]]> #{begin} AND end_time <![CDATA[<=]]> #{end}
    </select>

    <select id="selectBySpatial" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE ST_Within(ST_GeomFromText(#{bbox}, 4326), geom) = true
    </select>

    <resultMap id="observation" type="Observation">
        <id property="id" column="id"/>
        <result property="procedureId" column="proc_id"/>
        <result property="name" column="obs_name"/>
        <result property="description" column="obs_des"/>
        <result property="obsTime" column="obs_time"/>
        <result property="beginTime" column="begin_time"/>
        <result property="endTime" column="end_time"/>
        <result property="bbox" column="bbox"/>
        <result property="obsProperty" column="obs_property"/>
        <result property="type" column="obs_type"/>
        <result property="mapping" column="mapping"/>
        <result property="outId" column="out_id"/>
    </resultMap>

</mapper>