<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.sosobsservice.dao.TextMapper">
    <sql id="insertFields">
        text_name, text_value, outid
    </sql>

    <sql id="selectFields">
       text_id, text_name, text_value, outid
    </sql>

    <insert id="insertData" parameterType="Text">
        INSERT INTO _text (<include refid="insertFields"></include>)
        VALUES (#{name}, #{value}, #{outId})
    </insert>

    <delete id="deleteByOutId">
        DELETE FROM _text
        WHERE outid = #{outId}
    </delete>

    <delete id="deleteById" parameterType="int">
        DELETE FROM _text
        WHERE text_id = #{id}
    </delete>

    <select id="selectByNameAndValue" resultType="java.lang.String">
        SELECT outid
        FROM _text
        WHERE text_name = #{name} AND text_value = #{value}
    </select>

    <resultMap id="text" type="Text">
        <id property="id" column="text_id"/>
        <result property="name" column="text_name"/>
        <result property="value" column="text_value"/>
        <result property="outId" column="outid"/>
    </resultMap>

</mapper>