<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenter.dao.VectorMapper">
    <sql id="insertFields">
        vector_name, longitude, latitude, altitude, outid
    </sql>

    <sql id="selectFields">
       vector_id, vector_name, longitude, latitude, altitude, outid
    </sql>

    <insert id="insertData" parameterType="Vector">
        INSERT INTO vector (<include refid="insertFields"></include>)
        VALUES (#{name}, #{longitude}, #{latitude}, #{altitude}, #{outId})
    </insert>

    <delete id="deleteByOutId">
        DELETE FROM vector
        WHERE outid = #{outId}
    </delete>

    <delete id="deleteById" parameterType="int">
        DELETE FROM vector
        WHERE vector_id = #{id}
    </delete>

    <select id="selectByLowerCorner" resultType="java.lang.String">
        SELECT outid
        FROM vector
        WHERE latitude <![CDATA[>=]]> #{lat} AND longitude <![CDATA[>=]]> #{lon} AND vector_name = 'Low'
    </select>

    <select id="selectByUpperCorner" resultType="java.lang.String">
        SELECT outid
        FROM vector
        WHERE latitude <![CDATA[<=]]> #{lat} AND longitude <![CDATA[<=]]> #{lon} AND vector_name = 'up'
    </select>

    <resultMap id="vector" type="Vector">
        <id property="id" column="vector_id"/>
        <result property="name" column="vector_name"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="altitude" column="altitude"/>
        <result property="outId" column="outid"/>
    </resultMap>

</mapper>