<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenter.dao.CharacteristicMapper">
    <sql id="insertFields">
        characteristic_name, characteristic_value, procedure_id
    </sql>

    <sql id="selectFields">
        characteristic_id, characteristic_name, characteristic_value, procedure_id
    </sql>

    <insert id="insertData" parameterType="Characteristic">
        INSERT INTO characteristic (<include refid="insertFields"></include>)
        VALUES (#{name}, #{value}, #{procedureId})
    </insert>

    <delete id="deleteByProcedureId">
        DELETE FROM characteristic
        WHERE procedure_id = #{procedureId}
    </delete>

    <delete id="deleteById" parameterType="int">
        DELETE FROM characteristic
        WHERE characteristic_id = #{id}
    </delete>

    <select id="selectById" parameterType="int" resultMap="characteristic">
        SELECT <include refid="selectFields"></include>
        FROM characteristic
        WHERE characteristic_id = #{id}
    </select>

    <select id="selectByName" resultMap="characteristic">
        SELECT <include refid="selectFields"></include>
        FROM characteristic
        WHERE characteristic_name = #{name}
    </select>

    <resultMap id="characteristic" type="Characteristic">
        <id property="id" column="characteristic_id"/>
        <result property="name" column="characteristic_name"/>
        <result property="value" column="characteristic_value"/>
        <result property="procedureId" column="procedure_id"/>
    </resultMap>

</mapper>