<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenter.dao.ContactMapper">
    <sql id="insertFields">
        contact_title, contact_individualname, contact_positionname, contact_organizationname, contact_role, procedure_id
    </sql>

    <sql id="selectFields">
        c.contact_id contact_id, c.procedure_id procedure_id, c.contact_title contact_title, c.contact_individualname contact_individualname, c.contact_positionname contact_positionname, c.contact_organizationname contact_organizationname, c.contact_role contact_role,
        t.telephone_id telephone_id, t.procedure_id procedure_id, t.telephone_voice telephone_voice, t.telephone_facsimile telephone_facsimile,
        a.address_id address_id, a.procedure_id procedure_id, a.address_deliverypoint address_deliverypoint, a.address_city address_city, a.address_administrativearea address_administrativearea, a.address_postalcode address_postalcode, a.address_country address_country, a.address_electronicmailaddress address_electronicmailaddress
    </sql>

    <insert id="insertData" parameterType="Classification">
        INSERT INTO contact (<include refid="insertFields"></include>)
        VALUES (#{title}, #{individualName}, #{positionName}, #{organizationName}, #{role}, #{procedureId})
    </insert>

    <delete id="deleteByProcedureId">
        DELETE FROM contact
        WHERE procedure_id = #{procedureId}
    </delete>

    <delete id="deleteById" parameterType="int">
        DELETE FROM contact
        WHERE contact_id = #{id}
    </delete>

    <select id="selectById" parameterType="int" resultMap="contact">
        SELECT <include refid="selectFields"></include>
        FROM (contact c JOIN telephone t ON c.procedure_id = t.procedure_id) JOIN address a ON a.procedure_id = c.procedure_id
        WHERE c.contact_id = #{id}
    </select>

    <select id="selectByRole" resultMap="contact">
        SELECT <include refid="selectFields"></include>
        FROM (contact c JOIN telephone t ON c.procedure_id = t.procedure_id) JOIN address a ON a.procedure_id = c.procedure_id
        WHERE c.contact_role = #{role}
    </select>

    <select id="selectByIndividualName" resultType="java.lang.String">
        SELECT procedure_id
        FROM contact
        WHERE
        contact_individualname like concat('%', #{individualName}, '%')
    </select>

    <select id="selectByOrganizationName" resultType="java.lang.String">
        SELECT procedure_id
        FROM contact
        WHERE
        contact_organizationname like concat('%', #{organizationName}, '%')
    </select>

    <select id="selectByPositionName" resultType="java.lang.String">
        SELECT procedure_id
        FROM contact
        WHERE
        contact_positionname like concat('%', #{positionName}, '%');
    </select>

    <resultMap id="contact" type="Contact">
        <id property="id" column="contact_id"/>
        <result property="procedureId" column="procedure_id"/>
        <result property="title" column="contact_title"/>
        <result property="individualName" column="contact_individualname"/>
        <result property="positionName" column="contact_positionname"/>
        <result property="organizationName" column="contact_organizationname"/>
        <result property="role" column="contact_role"/>
        <association property="telephone">
            <id property="id" column="telephone_id"/>
            <result property="procedureId" column="procedure_id"/>
            <result property="voice" column="telephone_voice"/>
            <result property="facsimile" column="telephone_facsimile"/>
        </association>
        <association property="address">
            <id property="id" column="address_id"/>
            <result property="procedureId" column="procedure_id"/>
            <result property="deliveryPoint" column="address_deliverypoint"/>
            <result property="city" column="address_city"/>
            <result property="administrativeArea" column="address_administrativearea"/>
            <result property="postalCode" column="address_postalCode"/>
            <result property="country" column="address_country"/>
            <result property="electronicMailAddress" column="address_electronicmailaddress"/>
        </association>
    </resultMap>

</mapper>