<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenter.dao.EventMapper">
    <sql id="insertFields">
        event_label, event_documenturl, event_time, procedure_id
    </sql>

    <sql id="selectFields">
        event_id, event_label, event_documenturl, event_time, procedure_id
    </sql>

    <insert id="insertData" parameterType="Event">
        INSERT INTO event (<include refid="insertFields"></include>)
        VALUES (#{label}, #{documentUrl}, #{time}, #{procedrueId})
    </insert>

    <delete id="deleteByProcedureId">
        DELETE FROM event
        WHERE procedure_id = #{procedureId}
    </delete>

    <delete id="deleteById" parameterType="int">
        DELETE FROM event
        WHERE event_id = #{id}
    </delete>

    <select id="selectById" parameterType="int" resultMap="event">
        SELECT <include refid="selectFields"></include>
        FROM event
        WHERE event_id = #{id}
    </select>

    <select id="selectByLabel" resultMap="event">
        SELECT <include refid="selectFields"></include>
        FROM event
        WHERE event_label = #{label}
    </select>
    <select id="selectByDocumentUrl" resultMap="event">
        SELECT <include refid="selectFields"></include>
        FROM event
        WHERE event_documenturl = #{documentUrl}
    </select>

    <select id="selectByTime" resultMap="event">
        SELECT <include refid="selectFields"></include>
        FROM event
        WHERE event_time <![CDATA[<=]]> #{time}
    </select>

    <resultMap id="event" type="Event">
        <id property="id" column="event_id"/>
        <result property="procedureId" column="procedure_id"/>
        <result property="label" column="event_label"/>
        <result property="documentUrl" column="event_documenturl"/>
        <result property="time" column="event_time"/>
    </resultMap>

</mapper>