<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenter.dao.IdentificationMapper">
    <sql id="insertFields">
        identification_definition, identification_label, identification_value, procedure_id
    </sql>

    <sql id="selectFields">
        identification_id, identification_definition, identification_label, identification_value, procedure_id
    </sql>

    <insert id="insertData" parameterType="Identification">
        INSERT INTO identification (<include refid="insertFields"></include>)
        VALUES (#{definition}, #{label}, #{value}, #{procedureId})
    </insert>

    <delete id="deleteByProcedureId">
        DELETE FROM identification
        WHERE procedure_id= #{procedureId}
    </delete>

    <delete id="deleteById" parameterType="int">
        DELETE FROM identification
        WHERE identification_id = #{id}
    </delete>

    <select id="selectById" parameterType="int" resultMap="identification">
        SELECT <include refid="selectFields"></include>
        FROM identification
        WHERE identification_id = #{id}
    </select>

    <select id="selectByLabelAndProcedureId" resultMap="identification">
        SELECT <include refid="selectFields"></include>
        FROM identification
        WHERE identification_label = #{label} AND procedure_id = #{procedureId}
    </select>

    <select id="selectByLabelAndValue" resultMap="identification">
        SELECT <include refid="selectFields"></include>
        FROM identification
        WHERE identification_label = #{label} AND identification_value = #{value}
    </select>

    <resultMap id="identification" type="Identification">
        <id property="id" column="identification_id"/>
        <result property="value" column="identification_name"/>
        <result property="label" column="identification_label"/>
        <result property="definition" column="identification_definition"/>
        <result property="value" column="identification_value"/>
        <result property="procedureId" column="procedure_id"/>
    </resultMap>

</mapper>