<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenter.dao.TelephoneMapper">
    <sql id="insertFields">
        telephone_voice, telephone_facsimile, procedure_id
    </sql>

    <sql id="selectFields">
        telephone_id, telephone_voice, telephone_facsimile, procedure_id
    </sql>

    <insert id="insertData" parameterType="Telephone">
        INSERT INTO telephone (<include refid="insertFields"></include>)
        VALUES (#{voice}, #{facsimile}, #{procedureId})
    </insert>

    <delete id="deleteByProcedureId">
        DELETE FROM telephone
        WHERE procedure_id = #{procedureId}
    </delete>

    <delete id="deleteById" parameterType="int">
        DELETE FROM telephone
        WHERE telephone_id = #{id}
    </delete>

    <select id="selectById" parameterType="int" resultMap="telephone">
        SELECT <include refid="selectFields"></include>
        FROM telephone
        WHERE telephone_id = #{id}
    </select>

    <select id="selectByVoice" resultMap="telephone">
        SELECT <include refid="selectFields"></include>
        FROM telephone
        WHERE telephone_voice = #{voice}
    </select>

    <select id="selectByFacsimile" resultMap="telephone">
        SELECT <include refid="selectFields"></include>
        FROM telephone
        WHERE telephone_facsimile = #{facsimile}
    </select>

    <resultMap id="telephone" type="Telephone">
        <id property="id" column="telephone_id"/>
        <result property="procedureId" column="procedure_id"/>
        <result property="voice" column="telephone_voice"/>
        <result property="facsimile" column="telephone_facsimile"/>
    </resultMap>

</mapper>